<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ontario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-ontario></app-ontario>

  <h1>{{message}}</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>AS OF FEB 10/2021 9:00m</ion-card-subtitle>
      <ion-card-title>COVID-19 UPDATES</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label> Cases Today: {{myData.Cases_Today}}</ion-label>
        </ion-item>
        <ion-item >
          <ion-label>Total Cases: {{myData.Total_Cases}} </ion-label>
        </ion-item>
        <ion-item >
          <ion-label>Active Cases: {{myData.Active_Cases}} </ion-label>
        </ion-item>
        <ion-item >
          <ion-label >Total Recovered Cases: {{myData.Total_Recovered}}</ion-label>
        </ion-item>
        <ion-item  >
          <ion-label > Deaths Today: {{myData.Deaths_Today}}</ion-label>
        </ion-item>
        <ion-item >
          <ion-label>Total Deaths: {{myData.Total_Deaths}}</ion-label>
        </ion-item>
        <ion-item >
          <ion-label>Tested Today: {{myData.Tests_Performed_Today}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Total Tested: {{myData.Total_Tests_Performed}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label> Percent Positive: {{myData.Percent_Positive}}</ion-label>
        </ion-item>
        <ion-item >
          <ion-label  >People Tested: {{myData.Tests_Performed_Per_Million}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
