<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="light dark">
      Canada Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-key-updates></app-key-updates>

  <app-ontario></app-ontario>


  <!-- <app-explore-container name="Canada Summary"></app-explore-container> -->
</ion-content>
